In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('kidney_disease.csv')

In [3]:
data

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [5]:
data[data.isnull()]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
from Univariate_main import Univariate_variable

In [7]:
Quan,Qual=Univariate_variable.Quan_Qual(data)

In [8]:
Quan

['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [9]:
Qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [15]:
descriptive = pd.DataFrame(index=['mean', 'median', 'mode', 'Q1:25%', 'Q2:50%', 'Q3:75%', '99', 'Q4:100%', 'IQR',
                                          'Lesser_Outlier', 'Greater_Outlier', 'Max', 'Min'], columns=Quan)
import numpy as np
for column_name in Quan:
                descriptive[column_name]['mean'] = data[column_name].mean()
                descriptive[column_name]['median'] = data[column_name].median()
                descriptive[column_name]['mode'] = data[column_name].mode()[0]
                descriptive[column_name]['Q1:25%'] = data.describe()[column_name]['25%']
                descriptive[column_name]['Q2:50%'] = data.describe()[column_name]['50%']
                descriptive[column_name]['Q3:75%'] = data.describe()[column_name]['75%']
                descriptive[column_name]['99'] = np.percentile(data[column_name], 99)
                descriptive[column_name]['Q4:100%'] = data.describe()[column_name]['max']
                descriptive[column_name]['IQR'] = descriptive[column_name]['Q3:75%'] - descriptive[column_name]['Q1:25%']
                descriptive[column_name]['Lesser_Outlier'] = descriptive[column_name]['Q1:25%'] - (1.5 * descriptive[column_name]['IQR'])
                descriptive[column_name]['Greater_Outlier'] = descriptive[column_name]['Q3:75%'] + (1.5 * descriptive[column_name]['IQR'])
                descriptive[column_name]['Max'] = data[column_name].max()
                descriptive[column_name]['Min'] = data[column_name].min()

In [16]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
mean,199.5,51.4834,76.4691,1.01741,1.01695,0.450142,148.037,57.4257,3.07245,137.529,4.62724,12.5264
median,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
mode,0,60,80,1.02,0,0,99,46,1.2,135,3.5,15
Q1:25%,99.75,42,70,1.01,0,0,99,27,0.9,135,3.8,10.3
Q2:50%,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
Q3:75%,299.25,64.5,80,1.02,2,0,163,66,2.8,142,4.9,15
99,395.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,399,90,180,1.025,5,5,490,391,76,163,47,17.8
IQR,199.5,22.5,10,0.01,2,0,64,39,1.9,7,1.1,4.7
Lesser_Outlier,-199.5,8.25,55,0.995,-3,0,3,-31.5,-1.95,124.5,2.15,3.25
Greater_Outlier,598.5,98.25,95,1.035,5,0,259,124.5,5.65,152.5,6.55,22.05
Max,399,90,180,1.025,5,5,490,391,76,163,47,17.8
Min,0,2,50,1.005,0,0,22,1.5,0.4,4.5,2.5,3.1

In [17]:
#check the outlier
Lesser = []
Greater = []

for column_name in Quan:
    
                if descriptive[column_name]['Min'] < descriptive[column_name]['Lesser_Outlier']:
                    Lesser.append(column_name)
                if descriptive[column_name]['Max'] > descriptive[column_name]['Greater_Outlier']:
                    Greater.append(column_name)

In [20]:
#replace the outlier
for column_name in Lesser:
            data[column_name][data[column_name] < descriptive[column_name]['Lesser_Outlier']] = descriptive[column_name]['Lesser_Outlier']

for column_name in Greater:
            data[column_name][data[column_name] > descriptive[column_name]['Greater_Outlier']] = descriptive[column_name]['Greater_Outlier']

C:\Users\Arun\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Arun\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [21]:
descriptive = pd.DataFrame(index=['mean', 'median', 'mode', 'Q1:25%', 'Q2:50%', 'Q3:75%', '99', 'Q4:100%', 'IQR',
                                          'Lesser_Outlier', 'Greater_Outlier', 'Max', 'Min'], columns=Quan)
import numpy as np
for column_name in Quan:
                descriptive[column_name]['mean'] = data[column_name].mean()
                descriptive[column_name]['median'] = data[column_name].median()
                descriptive[column_name]['mode'] = data[column_name].mode()[0]
                descriptive[column_name]['Q1:25%'] = data.describe()[column_name]['25%']
                descriptive[column_name]['Q2:50%'] = data.describe()[column_name]['50%']
                descriptive[column_name]['Q3:75%'] = data.describe()[column_name]['75%']
                descriptive[column_name]['99'] = np.percentile(data[column_name], 99)
                descriptive[column_name]['Q4:100%'] = data.describe()[column_name]['max']
                descriptive[column_name]['IQR'] = descriptive[column_name]['Q3:75%'] - descriptive[column_name]['Q1:25%']
                descriptive[column_name]['Lesser_Outlier'] = descriptive[column_name]['Q1:25%'] - (1.5 * descriptive[column_name]['IQR'])
                descriptive[column_name]['Greater_Outlier'] = descriptive[column_name]['Q3:75%'] + (1.5 * descriptive[column_name]['IQR'])
                descriptive[column_name]['Max'] = data[column_name].max()
                descriptive[column_name]['Min'] = data[column_name].min()

In [22]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
mean,199.5,51.5512,75.6959,1.01741,1.01695,0,139.972,51.7643,2.13133,138.208,4.39006,12.5269
median,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
mode,0,60,80,1.02,0,0,259,124.5,5.65,135,3.5,15
Q1:25%,99.75,42,70,1.01,0,0,99,27,0.9,135,3.8,10.3
Q2:50%,199.5,55,80,1.02,0,0,121,42,1.3,138,4.4,12.65
Q3:75%,299.25,64.5,80,1.02,2,0,163,66,2.8,142,4.9,15
99,395.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,399,90,95,1.025,5,0,259,124.5,5.65,152.5,6.55,17.8
IQR,199.5,22.5,10,0.01,2,0,64,39,1.9,7,1.1,4.7
Lesser_Outlier,-199.5,8.25,55,0.995,-3,0,3,-31.5,-1.95,124.5,2.15,3.25
Greater_Outlier,598.5,98.25,95,1.035,5,0,259,124.5,5.65,152.5,6.55,22.05
Max,399,90,95,1.025,5,0,259,124.5,5.65,152.5,6.55,17.8
Min,0,8.25,55,1.005,0,0,22,1.5,0.4,124.5,2.5,3.25

In [23]:
# Missing value mean
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(data[Quan])
imp=imp.transform(data[Quan])

In [24]:
imp

array([[  0.        ,  48.        ,  80.        , ..., 138.20766773,
          4.3900641 ,  15.4       ],
       [  1.        ,   8.25      ,  55.        , ..., 138.20766773,
          4.3900641 ,  11.3       ],
       [  2.        ,  62.        ,  80.        , ..., 138.20766773,
          4.3900641 ,   9.6       ],
       ...,
       [397.        ,  12.        ,  80.        , ..., 137.        ,
          4.4       ,  15.8       ],
       [398.        ,  17.        ,  60.        , ..., 135.        ,
          4.9       ,  14.2       ],
       [399.        ,  58.        ,  80.        , ..., 141.        ,
          3.5       ,  15.8       ]])

In [25]:
#dataframe
df_quan=pd.DataFrame(imp,columns=Quan)
df_quan

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,0.0,48.00,80.0,1.020,1.0,0.0,121.00000,36.0,1.2,138.207668,4.390064,15.4
1,1.0,8.25,55.0,1.020,4.0,0.0,139.97191,18.0,0.8,138.207668,4.390064,11.3
2,2.0,62.00,80.0,1.010,2.0,0.0,259.00000,53.0,1.8,138.207668,4.390064,9.6
3,3.0,48.00,70.0,1.005,4.0,0.0,117.00000,56.0,3.8,124.500000,2.500000,11.2
4,4.0,51.00,80.0,1.010,2.0,0.0,106.00000,26.0,1.4,138.207668,4.390064,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.00,80.0,1.020,0.0,0.0,140.00000,49.0,0.5,150.000000,4.900000,15.7
396,396.0,42.00,70.0,1.025,0.0,0.0,75.00000,31.0,1.2,141.000000,3.500000,16.5
397,397.0,12.00,80.0,1.020,0.0,0.0,100.00000,26.0,0.6,137.000000,4.400000,15.8
398,398.0,17.00,60.0,1.025,0.0,0.0,114.00000,50.0,1.0,135.000000,4.900000,14.2
399,399.0,58.00,80.0,1.025,0.0,0.0,131.00000,18.0,1.1,141.000000,3.500000,15.8

In [27]:
#missing value as mode for categorical
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp.fit(data[Qual])
imp=imp.transform(data[Qual])

In [29]:
df_qual=pd.DataFrame(imp,columns=Qual)
df_qual

,rbc,pc,pcc,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,normal,normal,notpresent,notpresent,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,38,6000,5.2,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,47,6700,4.9,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,54,7800,6.2,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,49,6600,5.4,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,51,7200,5.9,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,53,6800,6.1,no,no,no,good,no,no,notckd

In [31]:
df=pd.concat([df_quan,df_qual],axis=1)
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.00,80.0,1.020,1.0,0.0,121.00000,36.0,1.2,138.207668,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,8.25,55.0,1.020,4.0,0.0,139.97191,18.0,0.8,138.207668,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2.0,62.00,80.0,1.010,2.0,0.0,259.00000,53.0,1.8,138.207668,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3.0,48.00,70.0,1.005,4.0,0.0,117.00000,56.0,3.8,124.500000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.00,80.0,1.010,2.0,0.0,106.00000,26.0,1.4,138.207668,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.00,80.0,1.020,0.0,0.0,140.00000,49.0,0.5,150.000000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396.0,42.00,70.0,1.025,0.0,0.0,75.00000,31.0,1.2,141.000000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397.0,12.00,80.0,1.020,0.0,0.0,100.00000,26.0,0.6,137.000000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398.0,17.00,60.0,1.025,0.0,0.0,114.00000,50.0,1.0,135.000000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399.0,58.00,80.0,1.025,0.0,0.0,131.00000,18.0,1.1,141.000000,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [32]:
df.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64